
//-----------------------------------------------------------------------
// Variables
//-----------------------------------------------------------------------

// Let's create some variables to use univerally throughout all stylesheets
// [Put SASS variables here]


//-----------------------------------------------------------------------
// Import CSS Libraries and Starterkits
//-----------------------------------------------------------------------

// Import browser resets
// http://necolas.github.com/normalize.css
@import "normalize";

// And some forms resets
// http://formalize.me
@import "formalize";

// Add Syntax Highlighter
// http://alexgorbatchev.com/SyntaxHighlighter
// (this has been forked, no longer matches original)
@import "syntaxhighlighter";

// Some general HTML tools — switching box model, creating handy classes, more
@import "html";

// Adding the CSS from Turn.js
@import "turn";


//-----------------------------------------------------------------------
// Import Project Styling
//-----------------------------------------------------------------------

// How about some typography and text styling
@import "typography";

// Layout for turn.js page structure
@import "layout";


//-----------------------------------------------------------------------
// More Project Styling
//-----------------------------------------------------------------------

aside {
  background: rgba(150,150,150,0.1);
  border: 1px solid #ccc;
  padding: 2em;
}
