.dashboard {
  
  h1 {
    display: none;
  }
  
  //-----------------------------------------------------------------------
  // Dashboard Layout
  //-----------------------------------------------------------------------
  
  div[role='main'] {
    margin: 0 0.25em 0;
    padding: 1em 0 2.5em;
  }
  
  @media screen and (min-width: 30em) { // 480px
    div[role='main'] {
      margin: 1em;
      padding: 1em 0 2.5em;
    }
  }
  @media screen and (min-width: 35em) { // 560px
    div[role='main'] {
      width: 90%;
      margin: 1.5em auto;
      padding: 1em 0 2.5em;
    }
  }
  @media screen and (min-width: 40em) { // 640px
    div[role='main'] {
      width: 85%;
      margin: 2em auto;
      padding: 1em 0 2.5em;
    }
  }
  @media screen and (min-width: 45em) { // 720px
    div[role='main'] {
      width: 40em; 
      padding: 2em 0;
    }
  }
  
  //-----------------------------------------------------------------------
  // Books
  //-----------------------------------------------------------------------
  
  .purchased-books {
    ul {
      @include no-bullets;
      padding: 0;
    }
    li {
      float: left;
      margin-right: 1em;
      @include clearfix;
      width: 30%;
    }
    h2 {
      @include adjust-font-size-to(16px);
      font-family: $accent-font;
      margin: 0;
      padding: 0;
    }
    img {
      height: 250px;
    }
    
  }
  
  //-----------------------------------------------------------------------
  // User Menu
  //-----------------------------------------------------------------------
  .user-menu {
    position: fixed;
    top: 0;
    right: 100px;
    font-family: $accent-font;
  }

}




/*
@media screen and (min-width: 50em) { // 800px
  aside {
    margin-right: -10%;
    width: 50%;
  }
  figure {
    margin: 2em -3em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -4em;
  }
}
@media screen and (min-width: 55em) { // 880px
  aside {
    margin-right: -15%;
    width: 55%;
  }
  figure {
    margin: 2em -4em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -6em;
  }
}
@media screen and (min-width: 60em) { // 960px
  aside {
    margin-right: -20%;
    width: 60%;
  }
  figure {
    margin: 2em -5em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -8em;
  }
}
@media screen and (min-width: 65em) { // 1040px
  aside {
    margin-right: -25%;
    width: 65%;
  }
  figure {
    margin: 2em -6em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -11em;
    .code-mirror-container { 
      max-height: 800px;
    }
  }
}
@media screen and (min-width: 70em) { // 1120px
  aside {
    margin-right: -30%;
    width: 70%;
  }
  figure {
    margin: 2em -7em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -14em;
  }
}
@media screen and (min-width: 75em) { // 1200px
  aside {
    margin-right: -35%;
    width: 75%;
  }
  figure {
    margin: 2em -8em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -16em;
  }
}
@media screen and (min-width: 80em) { // 1280px
  figure.open-editor {
    margin: 2em -18em;
  }
}
@media screen and (min-width: 85em) { // 1360px
  figure.open-editor {
    margin: 2em -20em;
  }
}
@media screen and (min-width: 90em) { // 1440px
  figure.open-editor {
    margin: 2em -22em;
  }
}
*/



