
//-----------------------------------------------------------------------
// Layouts
//-----------------------------------------------------------------------

article {
  margin: 0 2em;
  padding: 1em 0 2.5em;
}
aside {
  margin: 1em 0;
  padding: 1em 2em;    
}
img {
  max-width: 100%;
}  
figure {
  margin: 2em 0;
}

@media screen and (min-width: 30em) { // 480px
  article {
    margin: 1em;
    padding: 1em 0 2.5em;
  }
}
@media screen and (min-width: 35em) { // 560px
  article {
    width: 90%;
    margin: 1.5em auto;
    padding: 1em 0 2.5em;
  }
}
@media screen and (min-width: 40em) { // 640px
  article {
    width: 85%;
    margin: 2em auto;
    padding: 1em 0 2.5em;
  }
}
@media screen and (min-width: 45em) { // 720px
  article {
    width: 40em; 
    padding: 2em 0;
  }
  aside {
    float: right;
    width: 45%;
    clear: both;
    margin-left: 5%;
  }
  figure {
    margin: 2em -2em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -2em;
  }
  figure.open-editor {
    .code-mirror-container, 
    .code-editor-container { 
      width: 49.625%;
			display: table-cell;
			vertical-align: top;
    }
    .code-mirror-container { 
      margin-right: 0.75%;
      max-height: 700px;
      overflow: hidden;
			
      .code-mirror-scroll-wrap {
				overflow-y: auto;
				max-height: 700px;
      }
      
    }
  }
}
@media screen and (min-width: 50em) { // 800px
  aside {
    margin-right: -10%;
    width: 50%;
  }
  figure {
    margin: 2em -3em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -4em;
  }
}
@media screen and (min-width: 55em) { // 880px
  aside {
    margin-right: -15%;
    width: 55%;
  }
  figure {
    margin: 2em -4em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -6em;
  }
}
@media screen and (min-width: 60em) { // 960px
  aside {
    margin-right: -20%;
    width: 60%;
  }
  figure {
    margin: 2em -5em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -8em;
  }
}
@media screen and (min-width: 65em) { // 1040px
  aside {
    margin-right: -25%;
    width: 65%;
  }
  figure {
    margin: 2em -6em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -11em;
    .code-mirror-container { 
      max-height: 800px;
    }
  }
}
@media screen and (min-width: 70em) { // 1120px
  aside {
    margin-right: -30%;
    width: 70%;
  }
  figure {
    margin: 2em -7em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -14em;
  }
}
@media screen and (min-width: 75em) { // 1200px
  aside {
    margin-right: -35%;
    width: 75%;
  }
  figure {
    margin: 2em -8em;
  }
  figure.listing {
    margin-left: 0;
    margin-right: 0;
  }
  figure.open-editor {
    margin: 2em -16em;
  }
}
@media screen and (min-width: 80em) { // 1280px
  figure.open-editor {
    margin: 2em -18em;
  }
}
@media screen and (min-width: 85em) { // 1360px
  figure.open-editor {
    margin: 2em -20em;
  }
}
@media screen and (min-width: 90em) { // 1440px
  figure.open-editor {
    margin: 2em -22em;
  }
}



