//-----------------------------------------------------------------------
// Control Bar
//-----------------------------------------------------------------------

.controls-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  background: #fff;
  box-shadow: 0 0 6px -1px rgba(0,0,0,0.5);
  z-index: 11;
  padding-top: 2px;
}

h1.book-title {
  font-size: 14px;
  text-align: center;
  font-style: italic;  
  font-family: $sourcesans-light;
  display: none;
}
@media screen and (min-width: 30em) { // 480px
  h1.book-title {
    display: block;
  }
}


//-----------------------------------------------------------------------
// Chapter Contents
//-----------------------------------------------------------------------

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
}
.jPanelMenu-panel .nav-container {
  display: none;
}
.jPanelMenu-panel .menu-link {

}
.menu-link {
  position: fixed;
  top: 0px;
  float: left;
  font-family: $sourcesans-light;
  color: #fff;
  min-width: 86px; /* sheesh */
  a {
    display: block;
    padding: 3px 8px 0px 10px;
    text-indent: -9999px;
    height: 44px;
    width: 44px;
    background: url('../images/menu.svg') no-repeat scroll 10px 10px;
    outline: none;
  }
  img {
    display: inline-block;
  }
  span {
    padding-left: 6px;
    display: inline-block;
  }
}
.ie6-8 .menu-link a {
  background: url('../images/menu.png') no-repeat scroll 10px 10px; // for old IE, which doesn't support SVG
}
nav#jPanelMenu-menu,
nav#menu {
  box-shadow: -24px 0 12px -10px rgba(0, 0, 0, 0.8) inset;
  background: url('../images/background.png') #333 repeat scroll;
  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li li {
    background: rgba(0,0,0,0.2);
  }
  li li li {
    background: rgba(255,255,255,0.12);
  }
  a {
    text-decoration: none;
    font-family: $interface-font;
    @include adjust-font-size-to(14px);
    line-height: 1.25em;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.11);
    padding: 0.45em 0.5em 0.3em 1em;
  }
  li a,
  li a:link,
  li a:visited {
    color: #eee;
    text-transform: uppercase;
    text-decoration: none;
  }
  li li a,
  li li a:link,
  li li a:visited {
    text-decoration: none;
    text-transform: none;
    &:hover,
    &:focus {
      color: darken($menu-link, 20%);
    }
  }
  li li li a {
    padding-left: 2em;
  }
  li.current > a {
    background: rgba(0,0,0,0.75);
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}


//-----------------------------------------------------------------------
// Font size controls
//-----------------------------------------------------------------------

.font-size-controls {
  position: fixed; 
  top: 0px; 
  right: 60px;
  a {
    cursor: default;
    height: 44px;
    width: 44px;
    text-indent: -9999px;
    display: block;
    float: left;
    outline: none;
  }
}
a.fs-smaller {
  background: url('../images/littleA.svg') no-repeat  scroll 21px 16px;
}
a.fs-larger {
  background: url('../images/bigA.svg') no-repeat  scroll 0px 10px;
}
.ie6-8 a.fs-smaller {
  background: url('../images/littleA.png') no-repeat  scroll 21px 16px; // for old IE, which doesn't support SVG
}
.ie6-8 a.fs-larger {
  background: url('../images/bigA.png') no-repeat  scroll 0px 10px; // for old IE, which doesn't support SVG
}
@media screen and (min-width: 40em) { // 640px
  .font-size-controls {
    right: 60px;
    a {
      height: 44px;
      width: 44px;
    }
  }
}


//-----------------------------------------------------------------------
// Table of Contents
//-----------------------------------------------------------------------

.menu-link a:hover,
.menu-link a:focus {
  color: #fff;
}
.toc-link {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 0 0 0 1em;
  a {
    display: block;
    font-family: $interface-font;
    outline: none;
  }
  a, 
  a:link, 
  a:visited {
    color: $text;
    text-decoration: none;
  }
  a.btn {
    background: url('../images/book.svg') no-repeat  scroll 0px 10px;
    text-indent: -9999px;
    height: 44px;
    width: 44px;
    position: fixed;
    right: 0;
  }
}
.collapse {
  position: relative;
}
.box {
  display:block;
  display:none;
  position:absolute;
}
ul.toc-dropdown {
  font-family: $sourcesans-light;
  color: lighten($text, 50%);
  list-style: none;
  border: 1px solid #ddd;
  border-color: #ddd #ddd #999999 #999999;
  box-shadow: -1px 1px 7px -3px rgba(0, 0, 0, 0.6);
  @include border-radius(8px 0px 8px 8px);
  background: #fff fixed;
  background: rgba(250,250,250,0.97) fixed;
  padding: 1em;
  margin-top: 1px;
  margin-bottom: 0px;
  z-index: 2;
  
  li {
    padding: 5px;
    list-style: none;
  }
  a {
    display: block;
    font-family: $interface-font;
    outline: none;
  }
  a, 
  a:link, 
  a:visited {
    color: $text;
    text-decoration: none;
  }
  .hdr {
    display: none;
  }
  .dashboard-link {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    a {
      background: #fc0;
      @include background-image(linear-gradient(#fc0, #EDBF0D));
      @include border-radius (0.6em);
      @include box-shadow (0 1px 2px 0 rgba(0, 0, 0, 0.1));
      padding: 0.45em 1em 0.22em;
      text-align: center;
      width: 10em;    
    }
  }
}
.ie6-8 .toc-link a.btn {
  background: url('../images/book.png') no-repeat  scroll 0px 10px; // for old IE, which doesn't support SVG
}
//.toc-link.open ul {
//  display: block;
//}
@media screen and (min-width: 30em) { // 480px
  ul.toc-dropdown {
    width: 25em;
    float: right;
    .hdr {
      display: block;
      color: $text;
      font-family: $interface-font;
      @include clearfix;
      margin-bottom: 1em;
    }
    .cover img {
      height: 125px;
      float: left;
      margin-right: 1em;
    }
    .title {
      font-size: 1.5em;
      line-height: 1.28em;
      margin: 0.25em 0 0.1em;
    }
  }
}


//-----------------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------------

button,
a.button {
  -webkit-appearance: none;
  @include border-radius(4px);
  @include background-clip(padding-box);
  background: #ddd;
  @include background-image(linear-gradient(#f9f9f9, #efefef));
  border: 1px solid;
  border-color: #ddd #ccc #bebebe;
  cursor: pointer;
  color: #333;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
  &:hover {
    @include background-image(linear-gradient(#fff, #efefef 1px, #e1e1e1));
    border-color: #ddd #c2c2c2 #b3b3b3;
    color: #000;
  }
  &:active {
    @include background-image(linear-gradient(#fff, #ddd 1px, #eee));
    @include box-shadow(inset rgba(0, 0, 0, 0.25) 0 1px 2px 0);
    border-color: #999 #bbb #ddd;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

//-----------------------------------------------------------------------
// Hide controls when left-hand nav is open
//-----------------------------------------------------------------------

body[data-menu-position="open"] {
  .font-size-controls,
  .toc-link {
    display: none;
  }
}
body[data-menu-position="closed"] {
  .font-size-controls,
  .toc-link {
    display: block;
  }
}

//-----------------------------------------------------------------------
// Give JPanelMenu Panel a background color so that transition is visible
//-----------------------------------------------------------------------
.jPanelMenu-panel {
  background-color: #fff;
}