
//-----------------------------------------------------------------------
// Whole Page
//-----------------------------------------------------------------------

html {
  background: #fff;
}

body {
  position: relative;
}

//-----------------------------------------------------------------------
// Header
//-----------------------------------------------------------------------

hgroup {
  text-align: center;
  border-bottom: 1px solid $line-color;
  clear: both;
  @include trailer(2, $h1-font-size);
  h1 {
    @include adjust-font-size-to(24px);
    @include leader(0.2, $h1-font-size);
    @include trailer(0, $h1-font-size);
  }
  h1:last-child {
    @include adjust-font-size-to(38px);
    @include leader(0.1, $h1-font-size);
    @include trailer(0.3, $h1-font-size);  
  }
}


//-----------------------------------------------------------------------
// Asides
//-----------------------------------------------------------------------

aside {
  background: url("../images/honeycomb.jpg") repeat #fcfcfc;
//  background: url("../images/honeycomb_alt.jpg") repeat #fff4b8; - alt version
  @include box-shadow (0 0 8px 2px rgba(0, 0, 0, 0.1));
  border: 1px solid #ddd; //or #FFE5AA for alt version
  box-decoration-break: clone;
  font-family: $sourcesans;
  @include adjust-font-size-to(14.5px);
  line-height: 1.6em;
  h3 {
    margin-top: 0.75em;
    text-align: center;
  }
  p {
    text-indent: 0;
    margin: rhythm(0.6) 0;
  }
  p:first-child {
    text-indent: 0;
    font-size: 200%;
  }
  p code {
    padding: 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)  {
  aside {
    background-image: url('../images/honeycomb_@2X.jpg');
    background-size: 25%; 
  }
}


//-----------------------------------------------------------------------
// Pre and Code
//-----------------------------------------------------------------------

.code-example pre {
  clear: both;
}
pre code {
  line-height: 0.7em;
}
p code,
li code {
  font-size: 1em;
  padding: 0 0.25em;
}


//-----------------------------------------------------------------------
// Figures
//-----------------------------------------------------------------------

figure {
  clear: both;
  @include clearfix;
}
figure.image {
  text-align: center;
  figcaption {
    margin-top: 1em;  
  }
}
.listing {
  margin-top: 2em;
}


//-----------------------------------------------------------------------
// Code Editor
//-----------------------------------------------------------------------

figure.listing {
  figcaption {
    width: 80%;
    float: left;
  }
}
.editor-trigger { // buttons for opening and closing code examples
  font-family: $accent-font;
  max-width: 20%;
  float: right;
  a {
    float: right;
    color: #444;
    &:hover,
    &:focus {
      color: #000;
    }
  }
}
.show-inline-editor {
  float: right;
}
.inline-codeview-container {
  padding-top: 2px !important; 
  
} 
figure.open-editor {
  background: #292824;
  @include border-radius(4px);
  padding: 0.75%;
  figcaption {
    color: #fff;
  }
  .code-editor-container {
    @include clearfix;
    @include adjust-font-size-to(12px);
  } 
  .code-mirror-container, 
  .code-editor-container { 
    border: 1px solid #292518;
    border-bottom-color: #82827F;
//    overflow: hidden;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  }
  .code-mirror-container {                // left pane, with code
    @include adjust-font-size-to(12px);
  }
  .code-editor-container {                        // right pane, with demo
    background: #fff;
    padding: 2em;
  }
  .control-bar {
    clear: left;
    float: left;
    padding: 1px 1% 8px;
    width: 102%;
    margin: 4px 0 -1% -1%;
  }
  .control.reset,
  .control.save {
    float: right;
    font-family: $accent-font;
    cursor: pointer;
    @extend button;
  }
  
}


//-----------------------------------------------------------------------
// Index Terms
//-----------------------------------------------------------------------

.index-term, 
.ref-target { 
  display: none; 
}


//-----------------------------------------------------------------------
// Video
//-----------------------------------------------------------------------

video {
  width: 100%    !important;
  height: auto   !important;
  margin: 1em 0;
}


//-----------------------------------------------------------------------
// Link to next chapter
//-----------------------------------------------------------------------

.next-chapter {
  clear: both;
  border-top: 1px solid $line-color;
  margin-top: 2em;
  padding-top:0.5em;
  text-align: right;
  font-family: $accent-font;
  @include adjust-font-size-to(14px);
  a {
    text-decoration: none;
    color: $text;
  }
}

//-----------------------------------------------------------------------
// Tables
//-----------------------------------------------------------------------

table { 
  font-family: $alt-font;  
  @include adjust-font-size-to(13px);
	width: 100%; 
	border-collapse: collapse; 
	margin: 0.3em 0 1.5em;
	img {
  	width: 100px;
	}
}
table code {
  @include adjust-font-size-to(14px);
}
tr {
  background: #f5f5f5;
}
tr:nth-of-type(odd) { 
	background: #ebebeb; 
}
th { 
	background: #a3a3a3; 
  border: 4px solid #fff; 
	color: #fff; 
	font-weight: normal; 
}
td {
  border: 4px solid #fff; 
}
td, th { 
	padding: 12px 10px 10px; 
	text-align: left; 
	vertical-align: top;
	line-height: 1.4em;
}
td ul {
	padding-left: 1.2em;
	line-height: 1.6em;
	margin: 0;
}

@media only screen and (max-width: 45em) { // 720px
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead {
  	tr { 
  	   @include element-invisible();
  	}
  }
	tr { 
    border-bottom: 4px solid #fff; 
  }
  tr:last-child { 
		border-bottom: none; 
  }
  tr:nth-of-type(odd) { 
  	background: #d5d5d5; 
  }
	td { 
		border: none;
		position: relative;
		padding-left: 30%; 
	}
	td:before { 
		position: absolute;
		top: 12px;
		left: 10px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content:""attr(data-label)"";  /*	Label the data */
  }
  tr td {
    padding-bottom: 0;
  }
  tr td:last-child { 
  	padding-bottom: 12px; 
	}
}


//-----------------------------------------------------------------------
// Various Content
//-----------------------------------------------------------------------

img.inlinemediaobject {
  display: block;
  margin: 0.65em 0;
}
.list-of-chapters {
  list-style:none; 
  text-align: center; 
  padding:0;
  font-family: $sourcesans;
  @include adjust-font-size-to(18px);
  line-height: 2em;
  a {
    color: #333;
  }
}
