// CHROME //

// All UI elements that don't belong on pages gets styled here.
// It keeps everything separate and tidy.
// Variables you defined in you skin will carry over to this file.


html {
  background-image: url('../images/subtlepatterns/grid.png');
}


//-----------------------------------------------------------------------
// Position the viewer. The viewer is the area in which pages can be displayed.
//-----------------------------------------------------------------------

.viewer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }


//-----------------------------------------------------------------------
// 
//-----------------------------------------------------------------------

nav {
  display: block;
  z-index: 1;
  font-family: $sourcesans;
  .contents {
    margin: 4px 10px 0;
    position: relative;
  }
}
.prev-next{ 
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;

  .next-buttons {
    position: absolute;
    right: 10px;
    top: 0;    
  }
  .prev-buttons {
    position: absolute;
    left: 10px;
    top: 0;
  }
}
.numbering {
  display: block;
  text-align: center;
  color: #777;
  font-size: 12px;
  font-weight: normal;
}
.toc {
  position: absolute;
  top: 8px;
  left: 0;
  background: #fff;
  @include box-shadow (0 2px 4px rgba(0, 0, 0, 0.3));
  padding: 0.8em 1.1em;
  font-size: 12px;
  ul, li {
    margin: 0;  
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #555;
  }
  a:hover {
    color: #000;
  }
}


//-----------------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------------

button,
a.button {
  -webkit-appearance: none;
  @include border-radius(4px);
  @include background-clip(padding-box);
  background: #dddddd url('../images/button.png?1298351022') repeat-x;
  @include background-image(linear-gradient(#f9f9f9, #efefef));
  border: 1px solid;
  border-color: #ddd #ccc #bebebe;
  cursor: pointer;
  color: #333;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover,
a.button:hover {
  @include background-image(linear-gradient(#fff, #efefef 1px, #e1e1e1));
  border-color: #ddd #c2c2c2 #b3b3b3;
  color: #000;
}
button:active,
a.button:active {
  @include background-image(linear-gradient(#fff, #ddd 1px, #eee));
  @include box-shadow(inset rgba(0, 0, 0, 0.25) 0 1px 2px 0);
  border-color: #999 #bbb #ddd;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}


//-----------------------------------------------------------------------
// 
//-----------------------------------------------------------------------

.sidebar, .menu {
  .content {
    display: none;
  }
  &.sidebar-active, &.menu-active {
    .content {
      display: block;
    }
  }
}

.pagenumbers {
  display: block;
  text-align: center;
  color: #999;
  font-size: 12px;
  font-weight: bold;
}

// LIGHTBOX

.lightbox {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: rgba(black, 0.5);
  .container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: white;
  }
}
