figure {
  .show-inline-editor {
    display: inline-block;
  }
  .close-inline-editor {
   display: none;
 }
}
figure.open-editor {
  .show-inline-editor {
    display: none;
  }
  .close-inline-editor {
   display: inline-block;
 }
 #preview {
	 border: none medium;
	 width: 100%;
 }
}


