
//-----------------------------------------------------------------------
// Color variables
//-----------------------------------------------------------------------

$text: #1b1d1e;
$page: #fff;
$body: #d7d7d7;


//-----------------------------------------------------------------------
// Typography sizing
//-----------------------------------------------------------------------

// Compass Vertical Rhythm
// http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 26px; // This line-height determines the basic unit of vertical rhythm.
@include establish-baseline;

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.85  * $base-font-size;
$h3-font-size: 1.4 * $base-font-size;
$h4-font-size: 1.4    * $base-font-size;
$h5-font-size: 1 * $base-font-size;
$h6-font-size: 0.83 * $base-font-size;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 24px;



//-----------------------------------------------------------------------
// Fonts
//-----------------------------------------------------------------------

// Let's define some font stacks
$sourcesans:        SourceSansPro, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$sourcesans-light:  SourceSansProLight, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$sourcesans-bold:   SourceSansProSemibold, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$georgia:           Georgia, "Times New Roman", "DejaVu Serif", serif;
$helvetica:         "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$courier:           "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now let's create variables for fonts in use
$base-font:         $georgia; 
$body-font:         $georgia;
$accent-font:       $sourcesans-light;
$monospace-font:    $courier;
$headline-font:     $sourcesans-bold;


//-----------------------------------------------------------------------
// Grid Measurements
//-----------------------------------------------------------------------

// Grid module measurements. 
$module-w: 2.75em;
$module-h: $module-w;
$gutter: 2.75em;

// grid margins:
$margin: $gutter;
$top: 3em;
$bottom: 3em;

// number of modules across to calculate:
$columns: 12;
$text-column-span: 6;


