
//-----------------------------------------------------------------------
// Layouts
//-----------------------------------------------------------------------

article {
  margin: 0.5em;
  padding: 1em 1.5em 2.5em;
}

@media screen and (min-width: 400px) { 
  article {
    margin: 1em;
    padding: 1em 2em 2.5em;
  }
}
@media screen and (min-width: 550px) { 
  article {
    margin: 1.5em;
    padding: 1em 2em 2.5em;
  }
}
@media screen and (min-width: 700px) { 
  article {
    margin: 1.5em;
    padding: 1em 2.75em 2.5em;
  }
}
@media screen and (min-width: 950px) { 
  article {
    margin: 2em;
    padding: 1em 5em 2.5em;
  }
}
@media screen and (min-width: 1064px) { // sets max-width of 1000px for the main content
  article {
    width: 1000px;
    margin: 2em auto 2.5em;
  }
  .inline-codeview-container {
    width: 1200px;
  }
}

img {
  max-width: 100%;
}


// Switch the media queries to ems
