//-----------------------------------------------------------------------
// Chapter Contents
//-----------------------------------------------------------------------

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
}
.menu-link {
  float: left;
  font-family: $sourcesans-light;
  color: #fff;
  min-width: 86px; /* sheesh */
  a {
    display: block;
    background: #a3a3a3;
    padding: 3px 8px 0px 10px;
    color: #fff;
    text-decoration: none;
    text-indent: -9999px;
    height: 44px;
    width: 44px;
    background: url('../images/icon-menu.svg') no-repeat scroll 10px 6px;
  }
  img {
    display: inline-block;
  }
  span {
    padding-left: 6px;
    display: inline-block;
  }
}
#jPanelMenu-menu {
  box-shadow: -24px 0 12px -10px rgba(0, 0, 0, 0.8) inset;
  background: url('../images/background.png') repeat;
}
nav { 
  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
//    background: rgba(0,0,0,0.3);
  }
  li li {
    background: rgba(0,0,0,0.75);
  }
  li li li {
    background: rgba(255,255,255,0.25);
  }
  a {
    text-decoration: none;
    font-family: $interface-font;
    @include adjust-font-size-to(14px);
    line-height: 1.25em;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 0.45em 0.5em 0.3em 1em;
  }
  #item_0 {
    background: #000;
  }
  li a,
  li a:link,
  li a:visited {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  li li a,
  li li a:link,
  li li a:visited {
    color: $menu-link;
    text-decoration: none;
    text-transform: none;
    &:hover,
    &:focus {
      color: darken($menu-link, 15%);
    }
  }
  li li li a {
    padding-left: 2em;
  }
}
@media screen and (min-width: 380px) {
  nav {
    max-width: 360px;
  }
  .nav-container {
    margin: 4em 10px;
  }
}
@media screen and (min-width: 1000px) {
  .nav-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}


//-----------------------------------------------------------------------
// Table of Contents
//-----------------------------------------------------------------------

.menu-link {
  float: left;
  font-family: $sourcesans-light;
  color: #fff;
  min-width: 86px; /* sheesh */
  a {
    display: block;
    padding: 3px 8px 0px 10px;
    text-indent: -9999px;
    height: 44px;
    width: 44px;
    background: url('../images/icon-menu.svg') no-repeat scroll 10px 6px;
  }
}
.jPanelMenu-panel .nav-container {
  display: none;
}
.jPanelMenu-panel .menu-link {
  position: fixed;
  top: 0px;
}
.menu-link a:hover,
.menu-link a:focus {
  color: #fff;
}
.btn-group ul {
  display: none;
  margin: 0px;
}
.btn-group.open ul {
  display: block;
}
.btn-group {
  a {
    padding: 5px;
    display: block;
    font-family: $interface-font;
  }
  a, 
  a:link, 
  a:visited {
    color: $text;
    text-decoration: none;
  }
  .btn-group .dropdown-menu a {
    padding: 3px 8px 0px 0;
  }
}
.toc-link {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  font-family: $sourcesans-light;
  padding: 0 0 0 1em;
  a.btn {
    background: url('../images/book_open.svg') no-repeat  scroll 2px 4px;
    text-indent: -9999px;
    height: 44px;
    width: 44px;
    position: fixed;
    right: 0;
  }
  ul {
    list-style:none;
    border: 1px solid #ddd;
    border-color: #ddd #ddd #999999 #999999;
    box-shadow: -1px 1px 7px -3px rgba(0, 0, 0, 0.6);
    @include border-radius(8px 0px 8px 8px);
    background: #fff;
    background: rgba(250,250,250,0.97);
    display: none;
    padding: 1em;
    margin-top: 44px;
    margin-right: 12px;
  }
  ul li {
    list-style:none;
  }
}


//-----------------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------------

button,
a.button {
  -webkit-appearance: none;
  @include border-radius(4px);
  @include background-clip(padding-box);
  background: #dddddd url('../images/button.png?1298351022') repeat-x;
  @include background-image(linear-gradient(#f9f9f9, #efefef));
  border: 1px solid;
  border-color: #ddd #ccc #bebebe;
  cursor: pointer;
  color: #333;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
  &:hover {
    @include background-image(linear-gradient(#fff, #efefef 1px, #e1e1e1));
    border-color: #ddd #c2c2c2 #b3b3b3;
    color: #000;
  }
  &:active {
    @include background-image(linear-gradient(#fff, #ddd 1px, #eee));
    @include box-shadow(inset rgba(0, 0, 0, 0.25) 0 1px 2px 0);
    border-color: #999 #bbb #ddd;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

