// SKIN //


//-----------------------------------------------------------------------
// Temporary
//-----------------------------------------------------------------------

html {
  background-color: #d7d7d7;
  background-image: url('../images/subtlepatterns/grid.png');
}

article {
  margin: 2em 1em;
  padding: 3em;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-decoration-break: clone;
  margin: $gutter;
  padding: 1em $margin 0;
  background: $page;
  @include box-shadow (0 2px 4px rgba(0, 0, 0, 0.3));
}
.nav-container {
  margin: 4em 1em;
}

@media screen and (min-width: 1000px) {
  article {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

hgroup {
  text-align: center;
  border-bottom: 1px solid #000;
  clear: both;
  @include trailer(0, $h1-font-size);
  h1:first-child {
    @include adjust-font-size-to(48px);
    @include leader(0, $h1-font-size);
    @include trailer(0, $h1-font-size);
  }
}

canvas {
  background: #fff;
}

img {
  max-width: 100%;
}

//-----------------------------------------------------------------------
// Figures, Code, and Asides
//-----------------------------------------------------------------------

figure {
  border: 1px solid #c2c2c2;
  padding: 1em;
  margin: 1em 0;
}
figure.listing {
  background: #f9f9f9;
}
aside {
  clear: both;
  margin: 0 0 1em;
  padding: 1em;
  background: #f4f5f7;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
//  box-decoration-break: clone;
  float: right;
  width: 45%;
  margin-left: 5%;
  font-family: $sourcesans;
}

video {
  width: 100%    !important;
  height: auto   !important;
  margin: 1em 0;
}


//-----------------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------------

button,
a.button {
  -webkit-appearance: none;
  @include border-radius(4px);
  @include background-clip(padding-box);
  background: #dddddd url('../images/button.png?1298351022') repeat-x;
  @include background-image(linear-gradient(#f9f9f9, #efefef));
  border: 1px solid;
  border-color: #ddd #ccc #bebebe;
  cursor: pointer;
  color: #333;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover,
a.button:hover {
  @include background-image(linear-gradient(#fff, #efefef 1px, #e1e1e1));
  border-color: #ddd #c2c2c2 #b3b3b3;
  color: #000;
}
button:active,
a.button:active {
  @include background-image(linear-gradient(#fff, #ddd 1px, #eee));
  @include box-shadow(inset rgba(0, 0, 0, 0.25) 0 1px 2px 0);
  border-color: #999 #bbb #ddd;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

