
//-----------------------------------------------------------------------
// Whole Page
//-----------------------------------------------------------------------

html {
  background: #d7d7d7 url('../images/subtlepatterns/grid.png') repeat center center fixed;
}

article {
  background: $page;
  @include box-shadow (0 2px 4px rgba(0, 0, 0, 0.3));
  box-decoration-break: clone;
}



//-----------------------------------------------------------------------
// Header
//-----------------------------------------------------------------------

hgroup {
  text-align: center;
  border-bottom: 1px solid #000;
  clear: both;
  @include trailer(2, $h1-font-size);
  h1 {
    @include adjust-font-size-to(28px);
    @include leader(0.2, $h1-font-size);
    @include trailer(0, $h1-font-size);
  }
  h1:last-child {
    @include adjust-font-size-to(42px);
    @include leader(0.1, $h1-font-size);
    @include trailer(0.3, $h1-font-size);  
  }
}


//-----------------------------------------------------------------------
// Asides
//-----------------------------------------------------------------------

aside {
  background: #F2F2F2;
  border: 1px solid #D8DDE0;
  box-decoration-break: clone;
  font-family: $sourcesans;
  @include adjust-font-size-to(13px);
  line-height: 1.7em;
  h3 {
    margin-top: 0.75em;
    text-align: center;
  }
  p {
    text-indent: $indent-amount*.75;
  }
  p:first-child {
    text-indent: 0;
  }
  p:first-child {
    font-size: 200%;
  }
  p code {
    padding: 0;
  }
}


//-----------------------------------------------------------------------
// Pre and Code
//-----------------------------------------------------------------------

.code-example pre {
  clear: both;
}
pre code {
  color: #2e6cc2;
  line-height: 0.7em;
}
p code {
  font-size: 1em;
  padding: 0 0.5em;
}


//-----------------------------------------------------------------------
// Figures
//-----------------------------------------------------------------------

figure {
  @include clearfix;
}
figure.image {
  text-align: center;
  margin: 2em 0;
  figcaption {
    margin-top: 1em;  
  }
}
.listing {
  margin-top: 2em;
}
figure.code-example {
//  background: SOMETHING DARK;
  figcaption {
    width: 80%;
    float: left;
  }
}
.temporary-until-we-get-the-right-markup-here { // buttons for opening and closing code examples
  font-family: $accent-font;
  max-width: 20%;
  float: right;
  a {
    float: right;
    color: #444;
    &:hover,
    &:focus {
      color: #000;
    }
  }
}
.show-inline-editor {
  float: right;
}

//-----------------------------------------------------------------------
// Overrides for Code Mirror
//-----------------------------------------------------------------------
.code-editor-container {
  @include clearfix;
  clear:both;
  @include adjust-font-size-to(13px);
}

.code-mirror-container, 
iframe#preview { 
  border: 1px solid #ddd;
  @include border-radius (6px);
  overflow: hidden;
}

.code-mirror-container { // left pane, with code
  margin-right: 2%;
}

iframe#preview { // right pane, with demo
  border: 1px solid #ddd;
  min-height: 250px;
//  height: 624px;
}

@media screen and (min-width: 700px) { 
  .code-mirror-container, 
  iframe#preview { 
    width: 49%;
    float: left;
  }
}

@media screen and (min-width: 700px) { 
  iframe#preview { 
//    min-height: 600px;
  }
}


.show-inline-editor {
  
}
/* placeholder styles */
.control-bar {
  clear: left;
  float: left;
  padding: 0.5em 0;
  width: 100%;
}
.control.reset {
  float: right;
  font-family: $accent-font;
  cursor: pointer;
  @extend button;
}


//-----------------------------------------------------------------------
// Video
//-----------------------------------------------------------------------

video {
  width: 100%    !important;
  height: auto   !important;
  margin: 1em 0;
}


//-----------------------------------------------------------------------
// Tables
//-----------------------------------------------------------------------

table { 
  font-family: $alt-font;  
  @include adjust-font-size-to(13px);
	width: 100%; 
	border-collapse: collapse; 
	margin: 0.3em 0 1.5em;
}
table code {
  @include adjust-font-size-to(14px);
}
tr:nth-of-type(odd) { 
	background: #eee; 
}
th { 
	background: #858585; 
  border: 1px solid #aaa; 
	color: white; 
	font-weight: normal; 
}
td {
	border: 1px solid #ccc; 
}
td, th { 
	padding: 7px 8px 3px; 
	text-align: left; 
}

@media only screen and (max-width: 760px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	table {
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
	}
	thead {
  	tr { 
  	   @include element-invisible();
  	}
  }
	tr { 
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
  }
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30%; 
	}
  tr:nth-of-type(odd) td { 
		border-bottom: 1px solid #f8f8f8; 
  }
  tr:last-child td:last-child { 
		border-bottom: none; 
  }
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*	Label the data */
	td:nth-of-type(1):before { content: "Property"; }
	td:nth-of-type(2):before { content: "Value"; }
	td:nth-of-type(3):before { content: "Note"; }
	
}

