
//-----------------------------------------------------------------------
// General
//-----------------------------------------------------------------------

html {
  background: #d7d7d7 url('../images/subtlepatterns/grid.png') repeat center center fixed;
}

article {
  background: $page;
  @include box-shadow (0 2px 4px rgba(0, 0, 0, 0.3));
  box-decoration-break: clone;
}

canvas {
  background: #fff;
}

//-----------------------------------------------------------------------
// Header
//-----------------------------------------------------------------------

hgroup {
  text-align: center;
  border-bottom: 1px solid #000;
  clear: both;
  @include trailer(2, $h1-font-size);
  h1 {
    @include adjust-font-size-to(32px);
    @include leader(0.2, $h1-font-size);
    @include trailer(0, $h1-font-size);
  }
  h1:last-child {
    @include adjust-font-size-to(44px);
    @include leader(0, $h1-font-size);
    @include trailer(0.3, $h1-font-size);  
  }
}


//-----------------------------------------------------------------------
// Figures, Code, and Asides
//-----------------------------------------------------------------------

aside {
  float: right;
  width: 45%;
  clear: both;
  background: #F2F2F2;
  border: 1px solid #D8DDE0;
  @include leading-border(1px, 1.2, $base-font-size, solid);
  @include trailing-border(1px, 1.2, $base-font-size, solid);
  margin: 1em 0 1em 5%;
  padding: 0.5em 1.5em;
  box-decoration-break: clone;
  font-family: $sourcesans;
  @include adjust-font-size-to(13px);
}

video {
  width: 100%    !important;
  height: auto   !important;
  margin: 1em 0;
}


