/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */

body {
  font-family: $base-font;
}
 
h1, h2, h3, h4 ,h5 ,h6 {
  font-family: $headline-font;
  font-weight: 500;
}
h1 {
  @include adjust-font-size-to( $h1-font-size );
}
h1 + h1 {
  @include leader (0);
}
h2 {
  @include adjust-font-size-to( $h2-font-size );
  @include leader(0.8, $h2-font-size);
  @include trailer(0.2, $h2-font-size);
}
h3 {
  @include adjust-font-size-to( $h3-font-size );
  @include leader(1, $h3-font-size);
  @include trailer(0, $h3-font-size);
}
aside h3 {
  margin: 0;
}
h4 {
  @include adjust-font-size-to( $h4-font-size );
  @include leader(0, $h4-font-size);
  @include trailer(0, $h4-font-size);
}
h5 {
  @include adjust-font-size-to( $h5-font-size );
  @include leader(0, $h5-font-size);
  @include trailer(0, $h5-font-size);
}
h6 {
  @include adjust-font-size-to( $h6-font-size );
  @include leader(0, $h6-font-size);
  @include trailer(0, $h6-font-size);
}

p {
  margin: rhythm(0.4) 0;
  text-indent: $indent-amount;
  &.noindent, &.caption & {
    text-indent: 0;
  }
  &.caption {
    text-align: left;
    .lightbox & {
      color: #fff;
    }
  }
}
aside p {


}
figcaption {
  font-family: $accent-font;
  @include adjust-font-size-to(16px);
}

blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: rhythm(0.5) $indent-amount;
}

canvas {
  margin: rhythm(1) 0;
}
pre {
  margin-left: $indent-amount;
}
code,
kbd,
samp {
  margin: rhythm(1) 0;
  @include adjust-font-size-to(14px);
}

dl,
menu,
ol,
ul,
.item-list ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: rhythm(1) 0;
}

hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: rhythm(1) 0;
}

.menu-link {
  color: #fff;
  float: right;
  font-family: $headline-font;
  whitespace: nowrap;
  min-width: 86px; /* sheesh */
  
  a {
    display: block;
    background: #333;
    padding: 3px 12px;
    color: #fff;
    text-decoration: none;
  }
  img {
    display: inline-block;
  }
  span {
    padding-left: 6px;
    display: inline-block;
  }
}
nav { 
  width: 360px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    background: #000;
  }
  li li {
    background: #333;
  }
  li li li {
    background: #999;
  }

  a {
    text-decoration: none;
    font-family: $headline-font;
    @include adjust-font-size-to(14px);
    color: #fff;
    display: block;
    border-bottom: 1px solid #fff;
    padding: 0.2em 0.5em 0.2em 1em;
  }

}
