//-----------------------------------------------------------------------
// Typography
//-----------------------------------------------------------------------
// BASE SIZE TO BE USED THROUGHOUT STYLES
// This must be a fixed unit of measurement, usually correlating to your text size.
$base-size: 14px;

// FONT-SIZE
$size: 1em;

// LINE HEIGHT
// Basing the modular scale off of ems for this. ms(n) refers to the position on a built-in modular scale where "n" is the position. However you can use any value you like.
$line-height: 1.5em;


//-----------------------------------------------------------------------
// Typography sizing
//-----------------------------------------------------------------------

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

//$base-font-size:   14px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-size;
$h2-font-size: 1.85  * $base-size;
$h3-font-size: 1.4 * $base-size;
$h4-font-size: 1.4    * $base-size;
$h5-font-size: 1 * $base-size;
$h6-font-size: 0.83 * $base-size;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

//-----------------------------------------------------------------------
// Font stacks
//-----------------------------------------------------------------------

$font:              Georgia, "Times New Roman", "DejaVu Serif", serif;
$serif:             Georgia, "Times New Roman", "DejaVu Serif", serif;
$sans-serif:        SourceSansProBold, Verdana, Tahoma, "DejaVu Sans", sans-serif;

$hed:               SourceSansProBold, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$subhed:            SourceSansProSemibold, Verdana, Tahoma, "DejaVu Sans", sans-serif;

$sourcesans:        SourceSansProLight, Verdana, Tahoma, "DejaVu Sans", sans-serif;

$sourcesans-bold:   SourceSansProSemibold, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$sourcesans:        SourceSansPro, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$sourcesans-light:  SourceSansProLight, Verdana, Tahoma, "DejaVu Sans", sans-serif;


$georgia:           Georgia, "Times New Roman", "DejaVu Serif", serif;
$helvetica:         "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$courier:           "Courier New", "DejaVu Sans Mono", monospace, sans-serif;


// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $georgia; // The font family set on the html element.
$font-body:        $georgia;
$font-monospace:   $courier;


//-----------------------------------------------------------------------
// Grid Measurements
//-----------------------------------------------------------------------

$consistant-page-width: true;

// Grid module measurements. 
$module-w: 2.75em;
$module-h: $module-w;
$gutter: 2.75em;

// grid margins:
$margin: $gutter;
$top: 3em;
$bottom: 3em;

// number of modules across to calculate:
$columns: 12;
$text-column-span: 6;

$text: #333;
$page: #fff;
$body: #eee;


//-----------------------------------------------------------------------
// Treesaver Things
//-----------------------------------------------------------------------


// IMAGE/PAGE RATIOS
// If you wish to scale images and have fixed page sizes image ratios are a must. This allows images sizes to be measured for Treesaver.
// Image sizes still need to be hard coded for lightboxes.
@mixin ratios {
  @include ratio(16, 9);
  @include ratio(4, 3);
  @include ratio(5, 4);
  @include ratio(1, 1);
  @include ratio(4, 5);
  @include ratio(3, 4);
}

// Debug tools adds element highlihgting using one-letter classes and mixins.
// @include r, @include g, @include b, @include c, @include m, @include y
// .r, .g, .b, .c, .m, .y
// red, green, blue, cyan, magenta, yellow
$debug: false;

// EXTRAS (optional) //

// Vertical grid
//$vertical-grid: true // Compile vertical grid (true/false)
//$rows: 20 // # of rows to calculate on the vertical grid

// Scrollable figure styles
//$scroll-support: false

// Hyphenate paragraphs (via CSS3 hyphenation)
//$hyphenate: false

// Page Opacity (prev, next page at 50% opacity)
//$page-opacity: false

// Caption placement tools
//$caption-placement: false

// Fullbleed figure support
//$fullbleed: false

// Online/offline elements. The ability to show/hide based on network status.
//$offline-elements: false
