// SKIN //

// Style the pages themselves here.
// To keep things tidy it is recommended that only pages get styled here.
// UI elements should be styled in the "chrome" directory.


// TYPOGRAPHIC STYLES
// Keep vertical spacing and all line-height attributes a multiple of your line-height to avoid text flow bugs. Do not use "!important" on any measurements here
// Only use system fonts for paragraphs and other large bodies of text. If web fonts are used line endings will be missing or duplicated.
p {
  color: $text;
  text-indent: $line-height;
  &.noindent, &.caption, .keeptogether & {
    text-indent: 0;
    }
  &.caption {
    text-align: left;
    .lightbox & {
      color: #fff;
      }
    }
  }

canvas {
  margin: rhythm(1) 0;
}

//-----------------------------------------------------------------------
// Temporary
//-----------------------------------------------------------------------

hgroup {
  border-bottom: 1px solid #000;
  margin-bottom: 2em;
  padding-bottom: 1em;
  h1, 
  h2 {
    margin: 0;
    line-height: 1.4em;
    text-align: center;
  }
  h1:first-child {
    font-size: 3em;
  }
}

//-----------------------------------------------------------------------
// Figures
//-----------------------------------------------------------------------

figure {
  border: 1px solid black;
  padding: 1em;
}
pre {
  background: #eee;
  padding: 1em;
}

//-----------------------------------------------------------------------
// GENERAL GRID STYLES
//-----------------------------------------------------------------------

// Styles here apply to every grid in your publication
.grid {
  margin: $gutter;
  padding: 1em $margin 0;
  background: $page;
  @include box-shadow (0 2px 4px rgba(0, 0, 0, 0.3));

  }

// GRID STYLES
// Styles to specify grids in your publication, for example the department grid.
.department.grid {
  
}
.title {
//  @include w6;
} 
 
// Page edges

.runningtitle {
  font-family: $sourcesans;
  font-size: 0.83 * $base-size;
  color: #777;
  letter-spacing: 0.03em;
  .publication {
    
  }
  .section {
    float: right;
  }
}

.cover {
  background: #000;
}