// Temp fixes that we should recosider later //

.menu {
  display: none;
}

nav {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  font-family: Helvetica, Sans-Serif;
  
  .contents {
    margin: 0 auto;
    position: relative;
  }
  .next {
    position: absolute;
    right: 0;
    top: 0;
    @include element-invisible;
    
  }
  .prev {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.pagenumbers {
  display: block;
  text-align: center;
  color: #999;
  font-size: 12px;
  font-weight: bold;
}

