#id_account_first_name, #id_account_last_name,
#id_billing_first_name, #id_billing_last_name,
#id_billing_credit_card
{width: 9em;}

#id_billing_cvv, #id_billing_zip
{ width: 5em; }

#id_billing_CC_month {width: 10em;}
#id_billing_CC_year {width: 6em}

.recurly-error {
    width: 20em;
    padding: 5px;
    line-height: 22px;
    vertical-align: middle;
    color: black;
    text-shadow: 0 1px 0 #FEC;
    background: #FFC;
    border: 1px solid #BA1;
    box-shadow: 3px 5px 5px 0
    rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    font-size: 13px;
}

.error .errorlist > li { margin-left: 0;}
.error .errorlist > li:before,
.error .errorlist > li > .before { background: none; }

.profile-cover {float: left; max-width: 130px; margin: 0 10px 20px 0;}
/*.profile-subscriptions {margin-left: 35px;}*/
.description {color: #666;}

.itunes_btn_new {background:url('images/itunes-button.png') 0 0 no-repeat;
    width:226px;
    height:159px;
    margin-top:-30px;
    cursor:pointer;
}

.itunes_btn_new .itunes_btn_price_new {
    padding-top:37px;
    /*padding-left:20px;*/
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    cursor:pointer;
    text-align: center;
}


.itunes_btn_new .itunes_btn_annual_price {
    padding-top:10px;
    /*padding-left:20px;*/
    color: #fff;
    font-size: 15px;
    /*font-weight: bold;*/
    cursor:pointer;
    text-align: center;
}
.subscribe-buttons {text-align: center; padding: 0 0 10px 0; margin: 0}

.button span { display: inline-block; border: none; margin: 0; padding: 0.4em 1em; color: #fff; font-weight: bold; background: transparent; cursor: pointer; text-decoration: none; line-height: normal; border-radius: 8px; }

.bannerFrame{cursor: pointer;}



/*Tabs*/
div.first {margin: 0; padding: 0;}

div.tabs {
    /*background: #333;*/
    /*background: #dfdfdf;*/
    /*padding: 1em;*/
    margin-left: 120px;
}

div.container {
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
}

ul.tabNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tabNavigation li {
    display: inline;
}

ul.tabNavigation li a {
    padding: 3px 9px;
    background-color: #666;
    /*color: #000;*/
    color: #fff;
    text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
    /*background: #FFF;*/
    /*background: #B61313;*/
    background: none;
    /*color: #000;*/
    color: #fff;
}

ul.tabNavigation li a:hover {
    background: #ccc;
    color: #000;
}

ul.tabNavigation li a:focus {
    outline: 0;
}

div.tabs div {
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #FFF;
    background: #FFF;
}

div.tabs div h2 {
    margin-top: 0;
}
/*Tabs*/
/* Localized */