#topMenu li,
#topMenu li a { display: inline; }

#footer .layout * { display: inline; }
.summary { display: inline; }
.article .header > * { display: inline; margin-right: 0.33em; }

.backIssues li { display: inline; }
.paging li { zoom: 1; }
.article .paging a { display: inline; behavior: url(PIE.htc); zoom: 1; }

.banner .logo img { box-shadow: 2px 2px 7px #000; }
.banner .logo img { behavior: url(../../new_markup/js/PIE.htc); zoom: 1; z-index: 1; }
.banner > .bannerFrame { behavior: url(PIE.htc); zoom: 1; }
.banner .bannerContent { behavior: url(PIE.htc); zoom: 1; }
.banner .bannerContent .logo > css3-container > outset-box-shadow { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); z-index: 0 !important; }

.banner .title { border-radius: 0 0 8px 8px;}
.banner .title { behavior: url(PIE.htc); zoom: 1; }

#mainMenu .menuItemTitle a,
.article ul > li { overflow: visible; z-index: expression(runtimeStyle.zIndex = 1, (function(t) {
	t.insertAdjacentHTML('afterBegin', '<span class="before"></span>');
	t.insertAdjacentHTML('beforeEnd', '<span class="after"></span>');

})(this)); }

.columns{ display: table; width: 100%; zoom: 1; }
.columns > * { display: inline; }
#teaser .columns > *,
#motto > *,
#mainMenuDesc .item,
#homePromo .item { -dt-display: table-cell; }

#teaser .columns,
#teaser .columns > *,
#motto,
#mainMenuDesc,
#homePromo { behavior: url(js/display-table.min.htc); }

.columns.triple > tbody > tr > td { width: 33%; }
.columns.double > tbody > tr > td { width: 50%; }
.columns.quadruple > tbody > tr > td { width: 25%; }
.columns.asideLeft > tbody > tr > td { width: 33%; }
.columns.asideLeft > tbody > tr > td ~ td { width: 67%; }
.columns.asideRight > tbody > tr > td { width: 67%; }
.columns.asideRight > tbody > tr > td ~ td { width: 33%; }
.columns.content > tbody > tr > td { width: 77.7%; }
.columns.content > tbody > tr > td + td { width: 22.3%; }

.button { display: inline; -pie-background: linear-gradient(#f8a939, #b61313) ; behavior: url(PIE.htc); zoom: 1; }
.field.text,
.field.select,
.field.textarea { display: inline; behavior: url(PIE.htc); zoom: 1; }

.fieldRow { zoom: 1; }
.fieldRow .field { display: inline; position: relative; }
.fieldRow .field.text input,
.fieldRow .field.select select,
.fieldRow .field.textarea textarea { background: none; zoom: 1; }

.button button, .button input, .button a { display: inline; width: auto; overflow: visible; }

.button { background-color:#7C1313;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b61313', endColorstr='#f8a939')";}

/* Localized */