.button { -pie-background: linear-gradient(#f8a939, #b61313) ; behavior: url(PIE.htc); zoom: 1;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b61313', endColorstr='#f8a939')"; }
.field.text,
.field.select,
.field.textarea { behavior: url(../../new_markup/js/PIE.htc); zoom: 1; }

.banner * { zoom: 1; }
.banner .logo img { box-shadow: 2px 2px 7px #000; position: relative; }
.banner .logo img  { behavior: url(../../new_markup/js/PIE.htc); zoom: 1; z-index: 2; }
.banner > .bannerFrame { behavior: url(../../new_markup/js/PIE.htc); zoom: 1; z-index: 2; }
.banner .bannerContent { behavior: url(../../new_markup/js/PIE.htc); zoom: 1; z-index: 2; }
.banner .bannerContent .logo > css3-container > outset-box-shadow { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); z-index: 0 !important; }

.banner .title { border-radius: 0 0 8px 8px;}
.banner .title { behavior: url(../../new_markup/js/PIE.htc); zoom: 1; }

.fieldRow .field.text input,
.fieldRow .field.select select,
.fieldRow .field.textarea textarea { background: none; }

.article .paging a { behavior: url(../../new_markup/js/PIE.htc); zoom: 1; }
/* Localized */