html, body { height: 100%; }
body { font: normal 62.5% Helvetica, sans-serif; margin: 0; padding: 0; background: #fff; }

/*	Tags				*/
* + p { margin: 1em 0 0; }
h5 + p, h6 + p { margin: 0; }
a { color: #b61313; }

h2 { color: #6d6766; font-size: 1.6em; font-weight: bold; text-transform: uppercase; }
h3 { color: #b61313; font-size: 1.8em; font-weight: bold; line-height: 1.6em; margin: 0 0 1em; }
* + h3 { margin: 1em 0; }
h4 { color: #b61313; font-size: 1.6em; font-weight: bold; line-height: 1.6em; margin: 0 0 1em; letter-spacing: 0.1em; }
* + h4 { margin: 1em 0; }
h5 { color: #b61313; font-size: 1.2em; font-weight: bold; line-height: 1.6em; margin: 1em 0 0; }
h6 { color: #2e2624; font-size: 1.2em; font-weight: bold; line-height: 1.6em; margin: 1em 0 0; }
h5 + h6 { margin: 0; }
dl {}
dt { font-size: 1.6em; color: #b61313; line-height: 1.6em; }
strong { font-weight: bold; color: #2e2624; }
em { font-style: italic; }

ol { list-style: decimal; padding-left: 2em; }

/*	Form elements		*/
select, input, option, button, textarea { font: normal 1em Helvetica, sans-serif; }

.form { }
.fieldRow { margin: 1em 0 0; word-spacing: -0.33em; letter-spacing: -0.33em; padding-left: 15em; }
.fieldRow > * { word-spacing: normal; letter-spacing: normal; }
.fieldRow .label { display: inline-block; vertical-align: top; text-align: right; width: 15em; margin-left: -15em; }
.fieldRow .label label { display: inline-block; padding: 0.5em; }
.fieldRow .field { display: inline-block; vertical-align: top; }

.form fieldset { padding: 1em 0; position: relative; }
.form fieldset + fieldset { border-top: 1px solid #e5e4e4; }


.button { display: inline-block; position: relative; z-index: 1; border-radius: 12px;border: 4px solid #fff; box-shadow: 0 0 10px #666; overflow: hidden; background: linear-gradient(bottom, #f8a939 0%,#b61313 100%);}

.button button,
.button input,
.button a { display: inline-block; border: none; margin: 0; padding: 0.4em 1em; color: #fff; font-weight: bold; background: transparent; cursor: pointer; text-decoration: none; line-height: normal; border-radius: 8px; }

.fieldRow .field { padding-left: 15em; margin-right: 1em; }
.fieldRow .field + .field { margin-left: -2px; }

.fieldRow .errors { display: inline-block; color: #c33; padding: 0.5em 0; margin-right: 1em; }

.fieldRow .field.text,
.fieldRow .field.select,
.fieldRow .field.textarea { background: #e0dede; border-radius: 6px; border: 1px solid #b5b5b5; display: inline-block; padding: 0 0.5em; overflow: hidden; }

.fieldRow .field.text input,
.fieldRow .field.select select,
.fieldRow .field.textarea textarea { background: #e0dede; margin: 0 -0.5em; padding: 0.5em; border: 0; width: 20em; vertical-align: top; }

.fieldRow .field.select { }
.fieldRow .field.select select { width: 21em; }
.fieldRow .field.select option { background: #e0dede; }

.fieldRow .field.checkbox,
.fieldRow .field.radio { padding: 0.5em 0; }
.fieldRow .field.checkbox input,
.fieldRow .field.radio input { vertical-align: top; }

.buttons { margin: 1em 0; padding-left: 15em; }

/*	paging				*/
.paging { text-align: center; padding: 1em 0; }

.paging *,
.article .paging * { margin: 0; padding: 0;  display: inline; }

.paging ul li:before,
.article .paging ul li:before,
.paging ul li > .before,
.article .paging ul li > .before{ content: '.'; background: none; }

.paging ul { word-spacing: -0.33em; letter-spacing: -0.33em; }
.paging ul > li { word-spacing: normal; letter-spacing: normal; }

.paging *,
.article .paging * { margin: 0; }

.article .paging ul { margin: 0 1.5em; }
.article .paging a { display: inline-block; padding: 0.25em 0.75em; background: #eae9e9; border-radius: 5px; text-decoration: none; }
.article .paging li + li { padding-left: 0.5em; }
.article .paging a:hover,
.article .paging a.selected { background: #b61313; color: #fff; }

/*	grid classes		*/
.page { min-height: 100%; margin: 0 0 -5em; }
.page ~ .footer {  }
.layout { width: 100em; margin: 0 auto; position: relative; }

/*	inline classes		*/
.more a { text-transform: uppercase; }
.title { font-weight: bold; color: #2e2624; }
.important { color: #b61313; font-weight: bold; }
a.email { color: #585150; }
.important a.email { color: #b61313; }
.subHeading { color: #827d7c; }
.subHeading.comment { font-size: 0.778em; font-weight: normal; font-style: oblique; }

fieldset .betweenFieldsets { background: #fff; display: inline-block; position: absolute; left: 50%; padding: 0 0.5em; margin: -1.8em 0 -1em -0.5em; }

.image { margin: 1em 0; }
.image img { display: block; margin: 0 auto; }

.summary { display: inline-block; border: 1px solid #b61313; background: #fff; padding: 0.5em 2em; margin: 1.5em auto 0; text-align: center; font-weight: bold; }

/*	columns				*/
.columns{ display: table; width: 100%; letter-spacing: -0.33em; }
.columns > * { display: inline-block; vertical-align: top; letter-spacing: normal; }

.columns.triple > * { width: 33.3%; }
.columns.double > * { width: 50%; }
.columns.quadruple > * { width: 25%; }
.columns.asideLeft > * { width: 33.3%; }
.columns.asideLeft > * ~ * { width: 66.7%; }
.columns.asideRight > * { width: 66.7%; }
.columns.asideRight > * ~ * { width: 33.3%; }
.columns.content > * { width: 77.7%; }
.columns.content > * + * { width: 22.3%; }


/*	Grid				*/
#header { height: 12em; background: #b61313; }
	#logo { padding: 1.2em 0; }
	#logo > * { display: block; width: 255px; height: 55px; background: url(images/nomad.png) no-repeat; text-indent: -9999px; overflow: hidden; }

	#topMenu { position: absolute; right: 0; top: 0; padding: 2em 0 1em 1.5em; border-left: 1px solid #fff; }

	#topMenu li { display: inline-block; text-transform: uppercase; font-size: 1.2em; font-weight: bold; }
	#topMenu li a { display: inline-block; padding: 0.9em; color: #db8989; text-decoration: none; }
	#topMenu li a.selected { color: #fff; }
	#topMenu li a:hover { color: #fff; }

#teaser { background: #2e2624; }
	#teaser .columns > * { display: table-cell; }

	#motto { vertical-align: middle; color: #969291; font-size: 2em; line-height: 1.8em; letter-spacing: 0.05em; height: 100%; display: inline-table; }
	#motto > * { padding-right: 1em; font-size: 1em; text-transform: none; font-weight: normal; display: table-cell; vertical-align: middle; }

	#mainMenu { background: #6d6766; }
	#mainMenu .item { padding-bottom: 0.9em; }
	#mainMenu .item + .item { border-left: 1px solid #fff; margin-right: -1px; }

	#mainMenu .item a { color: #fff; }
	#mainMenu .item > * { padding: 0.9em 1.2em 0; display: block; color: #fff; }

	#mainMenu .menuItemTitle { background: #969391; font-weight: bold; letter-spacing: 0.1em; }
	#mainMenu .menuItemTitle > * { font-size: 1.2em; }
	#mainMenu .menuItemTitle > * * { font-size: 1em; }
	#mainMenu .menuItemTitle a { display: block; height: 4em; padding-left: 1.25em; text-decoration: none; position: relative; padding-bottom: 0.5em; border-bottom: 0.5em solid #b61313; }
	#mainMenu .menuItemTitle a:before,
	#mainMenu .menuItemTitle a > .before { display: block; position: absolute; width: 0.75em; height: 0.75em; background: #6d6766; left: 0; top: 0.25em; content: '.'; text-indent: -999px; overflow: hidden; }
	#mainMenu .menuItemTitle a:hover,
	#mainMenu .menuItemTitle a.selected { color: #2e2624; border-bottom-color: #fff; }
	#mainMenu .menuItemTitle a:hover:before,
	#mainMenu .menuItemTitle a:hover> .before,
	#mainMenu .menuItemTitle a.selected:before,
	#mainMenu .menuItemTitle a.selected> .before { background: #b61313; }

	#mainMenu .menuItemDesc > * { font-size: 1.1em; line-height: 1.4em; }
	#mainMenu .menuItemDesc > * * { font-size: 1em; }

	#mainMenuDesc { background: #6d6766; }
	#mainMenuDesc .item { padding-bottom: 0.9em; height: 100%; display: table-cell; }
	#mainMenuDesc .item + .item { border-left: 1px solid #fff; margin-right: -1px; }

	#mainMenuDesc .item a { color: #fff; }
	#mainMenuDesc .item > * { padding: 0 1.2em; display: block; color: #fff; }

	#mainMenuDesc .menuItemDesc > * { font-size: 1.1em; line-height: 1.4em; }
	#mainMenuDesc .menuItemDesc > * * { font-size: 1em; }

#main { padding-bottom: 10em; }
	#intro { font-size: 1.6em; line-height: 1.8em; color: #2e2624; }
	#intro * { font-size: 1em; }
	#intro > * { padding: 1em 1em 1em 0; }

	#homePromo { background: #eae9e9; color: #4d4d4d; }
	#homePromo .item { position: relative; height: 100%; display: table-cell; }
	#homePromo .item ~ .item { border-left: 1px solid #fff; margin-right: -1px; }
	#homePromo .promo { margin: 0 1.2em; padding: 2em 0; }
	#homePromo .promo ~ .promo { border-top: 1px solid #fff; }
	#homePromo .promo > * { font-size: 1.1em; line-height: 1.4em; }
	#homePromo .promo > * * { font-size: 1em; }
	#homePromo .promo h3 { font-size: 1.3em; font-weight: bold; letter-spacing: 0.1em; color: #333; line-height: 1.2em; }
	#homePromo .promo .image { margin: 0 -1.2em; display: block; }
	#homePromo .promo .more { text-align: center; }

	#main h2 { position: absolute; display: table; width: 30%; bottom: 100%; left: 0; padding: 0.75em 1em 0.75em 0; }
	#main * ~ h2 { position: relative; left: auto; bottom: auto; width: auto; display: block; }

	#form_login { width: 50em; }

	.article { margin: 4.5em 0; padding-right: 4em; color: #585150; font-size: 1.2em; line-height: 1.6em; }
		.article h2 { font-size: 1.333em; }
		.article h3 { font-size: 1.5em; }
		.article h4 { font-size: 1.333em; }
		.article h5 { font-size: 1em; }
		.article h6 { font-size: 1em; }
		.article dl { }
		.article dt { font-size: 1.333em; }
		.article * + dt { margin-top: 1em; }
		.article ul { }
		.article * + ul { margin-top: 1em; }
		.article ul ul,
		.article ol ul { margin-top: 0; }
		.article ul > li { margin-left: 2em; position: relative; }
		.article ul > li:before,
		.article ul > li > .before { display: inline-block; position: absolute; width: 0.5em; height: 0.5em; background: #b61313; left: -1.4em; top: 0.5em; content: '.'; text-indent: -999px; overflow: hidden; }
		.article .nobullets > li { margin-left: 0; }
		.article .nobullets > li:before,
		.article .nobullets > li > .before { background: none; }

		.article .header { position: relative; border-top: 1px solid #cbc9c8; border-bottom: 1px solid #cbc9c8; margin: 0 0 2em 0; padding: 0.5em 2em 0.5em 0; }
		.article * + .header { margin-top: 4em; }
		.article h2 + .header,
		.article h1 + .header { margin-top: 0; }
		.article .header .top { height: 0; width: 0; display: block; position: absolute; right: 0; top: 0.5em; overflow: hidden; border: 6px solid transparent; border-bottom: 12px solid #c0bebd; }
		/*.article .header h4 { }*/
		.article .header > * { display: inline-block; font-size: 1.33em; margin: 0; letter-spacing: 0.1em; font-weight: bold; }
		.article .header > * * { font-size: 1em; }
		.article .footer { text-align: center; margin: 2em 0; }

		.publications {}
		.publications .item:after { content: '.'; display: block; clear: left; height: 0; visibility: hidden; }
		.publications .image { display: block; width: 160px; float: left; margin: 0 -180px 1em 0; }
		.publications .imageAside { margin-left: 180px; }

	#distributionOptionsScheme { margin: 1em 0 2em; font-weight: bold; }
		#distributionOptionsScheme .image { width: 85px; }
		#distributionOptionsScheme .image h5 { text-align: center; margin: 0 0 1em; }


	#field_subscribeContactFirstName,
	#field_subscribeBillingFirstName,
	#field_subscribeCardNumber{ width: 9em; }

	#field_subscribeContactLastName,
	#field_subscribeBillingLastName { width: 9em; }

	#field_subscribeBillingCVV,
	#field_subscribeBillingZip { width: 5em; }

	#field_subscribeBillingMonth { width: 10em; }
	#field_subscribeBillingYear { width: 6em; }


	.subscriptionsList {}
	.subscriptionsList > .item { border-top: 1px solid #cbc9c8; border-bottom: 1px solid #cbc9c8; }
	.subscriptionsList > .item + .item { border-top: 0; }
	.article .subscriptionsList li { margin: 0; padding: 1em 0; }
	.article .subscriptionsList li:before { content: ''; background: none; }
	.subscriptionsList .image { width: 225px; float: left; margin-right: -225px; }
	.subscriptionsList .desc { margin-left: 225px; padding-left: 5em; }
	.subscriptionsList .buttons { padding: 0; margin: 2em 0; }
	.backIssues { clear: left; padding: 1em 0; }
	.article .backIssues ul { word-spacing: -0.33em; letter-spacing: -0.33em; }
	.article .backIssues ul > li { display: inline-block; word-spacing: normal; letter-spacing: normal; margin-right: 1em; }


	.content > * + * > * { margin: 5.5em 0 2em; line-height: 1.4em; font-size: 1.2em; }
	.content > * + * > * + * { margin: 0; }

		.asideMenu .item { border-top: 1px solid #cbc9c8; border-bottom: 1px solid #cbc9c8;  }
		.asideMenu .item + .item { border-top: 0; }
		.asideMenu .item > a { color: #2e2624; display: block; padding: 0.66em 0; text-decoration: none; }

		.getUpdates { border-top: 2px solid #e5e4e4; border-bottom: 2px solid #e5e4e4; line-height: 1.6em; padding: 1em 1em 1em 0; }
		.getUpdates .title { font-size: 1.166em; letter-spacing: 0.1em; }
		.getUpdates .title a { text-decoration: none; }

		.content > * + * .fieldRow { padding-left: 0; }
		.content > * + * .fieldRow .label { margin: 0 0 0.3em; text-align: left; }
		.content > * + * .label label { display: block; width: auto; }
		.content > * + * .fieldRow .field { display: block; width: 100%; margin: 0 -1px; }
		.content > * + * .fieldRow .field input { width: 100%; }
		.content > * + * .buttons > .button { margin-left: 0; }
		.fieldRow.subscribeEmail .label label { padding: 0 0 0 28px; background: url(images/icon-label-email.png) no-repeat left top; }

		.asideInfo { margin: 2em 0; }
		.asideInfo ol { margin-bottom: 2em; }
		.asideInfo ol li { margin-bottom: 1em; }
		.asideInfo .strong { font-size: 1.2em;  font-weight: bold; }
		.asideInfo .buttons { text-align: center; padding: 0; }

		.content > * + * .banner { margin: 2em 0; }
		.banner { }
		.banner > .bannerFrame { background: #fff; padding: 4px; position: relative; display: block; position: relative; z-index: 1; border-radius: 12px; box-shadow: 0 0 10px #666; }
		.banner a { color: #fff; text-decoration: none; }
		/*.banner > a { display: block; border-radius: 12px; border: 4px solid #fff; box-shadow: 0 0 10px #666;}*/
			.banner .bannerContent { display: block; padding: 1em; text-align: center; color: #fff; font-size: 1.167em; line-height: normal; border-radius: 8px; background: #b61313 url(images/bg-banner-content.png) no-repeat; overflow: hidden;  }
			
			.banner .logo img { display: block; border-radius: 7px; overflow: hidden; box-shadow: 2px 2px 7px rgba(0,0,0,0.5); width: 80px; height: 80px; margin: 0 auto 0.5em; }
			/*.banner .logo img { display: block; margin: 0; }*/
			.banner .priceAnnual { display: block; margin: 0 0 0.25em 0; font-size: 2em; }
			.banner .priceMonthly { display: block; margin: 0 0 0.5em 0; }
			.banner .title { display: block; padding: 0.5em 1em; margin: 0 -1em -1em; background: #7c1313 url(images/bg-banner-title.png) repeat-x; }
			.banner .appstore { background: url(images/bg-banner-button-appstore.png) no-repeat; display: block; height: 40px; width: 160px; overflow: hidden; text-indent: -9999px; margin: 0 auto; }


#footer { height: 5em; background: #e0dede; color: #6d6766; }
	#footer a { color: #6d6766; text-decoration: none; }
	#footer a:hover { text-decoration: underline; }
	#footer .layout { padding: 1.8em 0; text-align: center; }
	#footer .layout * { display: inline-block; }
	#footer .layout > * { font-style: normal; font-weight: normal; font-size: 1.1em; }
	#footer .layout * + * { border-left: 1px solid #6d6766; }
	#footer .layout > * * { font-size: 1em; }
	#footer .layout address,
	#footer .layout p,
	#footer .layout li { padding: 0 1em; margin: 0; }
