html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.uncorked_logo{
	background: url('../content/images/promo/uncorked_logo.png') 0 0 transparent no-repeat;
	position:absolute;
	margin-left:36px;
	margin-top:38px;
	height:65px;
	width:65px;
	z-index:2;
}

.hemmings_logo{
	background: url('../content/images/promo/hemmings_logo.png') 0 0 transparent no-repeat;
	position:absolute;
	margin-left:36px;
	margin-top:38px;
	height:65px;
	width:65px;
	z-index:2;
}

.snooth_logo{
	background: url('../content/images/promo/snooth_logo.png') 0 0 transparent no-repeat;
	position:absolute;
	margin-left:36px;
	margin-top:38px;
	height:65px;
	width:65px;
	z-index:2;
}

.image div.publication_logo{
	margin-left: 40px;
    margin-top: 15px;
    height:135px;
}

.image div.publication_logo img{
	-moz-box-shadow:    1px 1px 9px 3px #000000;
  	-webkit-box-shadow: 1px 1px 9px 3px #000000;
  	box-shadow:         1px 1px 9px 3px #000000;
}