

.CodeMirror-scroll {
  height: 624px;
  }
.code-mirror-container {
  border: 1px solid #ccc;
  width: 48%;
  min-width: 300px;
  float: left;
  margin-right: 2em;
  font-size: 13px;
  clear: left;
}
.CodeMirror {

}  
iframe#preview {
  width: 48%;
  float: left;
  height: 624px;
  border: 1px solid #ccc;

}

/* placeholder styles */
.control-bar {
  float: left;
  clear: left;
  padding-bottom: 0.5em;
}
.control.reset {
  float: left;
  padding: 0.2em 0.5em;
  font-family: SourceSansProLight, sans-serif;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
}


