@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\000033}}
.cm-s-static span.cm-keyword {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\000034}}
.cm-s-static span.cm-atom {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\000035}}
.cm-s-static span.cm-number {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\000036}}
.cm-s-static span.cm-def {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\000037}}
.cm-s-static span.cm-variable {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\000038}}
.cm-s-static span.cm-variable-2 {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\000039}}
.cm-s-static span.cm-variable-3 {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000310}}
.cm-s-static span.cm-property {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000311}}
.cm-s-static span.cm-operator {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000312}}
.cm-s-static span.cm-comment {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000313}}
.cm-s-static span.cm-string {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000314}}
.cm-s-static span.cm-string-2 {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000315}}
.cm-s-static span.cm-meta {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000316}}
.cm-s-static span.cm-error {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000317}}
.cm-s-static span.cm-qualifier {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000318}}
.cm-s-static span.cm-builtin {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000319}}
.cm-s-static span.cm-bracket {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000320}}
.cm-s-static span.cm-tag {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000321}}
.cm-s-static span.cm-attribute {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000322}}
.cm-s-static span.cm-header {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000323}}
.cm-s-static span.cm-quote {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000324}}
.cm-s-static span.cm-hr {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000325}}
.cm-s-static span.cm-link {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000327}}
.cm-s-static pre {
  color: #2e6cc2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000329}}
.cm-s-static pre.cm-strong {
  font-weight: bold !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000331}}
span.cm-header, span.cm-strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000332}}
span.cm-em {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000333}}
span.cm-emstrong {
  font-style: italic;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000334}}
span.cm-link {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000336}}
div.CodeMirror .cm-s-static span.CodeMirror-matchingbracket {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000337}}
div.CodeMirror .cm-s-static span.CodeMirror-nonmatchingbracket {
  color: #2E6CC2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000344}}
.cm-s-static span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom {
  color: #762;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000345}}
.cm-s-static span.cm-comment {
  color: #999;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000346}}
.cm-s-static span.cm-meta {
  color: #555;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000347}}
.cm-s-static span.cm-variable {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000348}}
.cm-s-static span.cm-variable-2 {
  color: #be590d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000349}}
.cm-s-static span.cm-qualifier {
  color: #555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000350}}
.cm-s-static span.cm-keyword {
  color: #730;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000351}}
.cm-s-static span.cm-builtin {
  color: #30a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000352}}
.cm-s-static span.cm-error {
  background-color: #fdd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/apress\/prohtml5programming\/v5\/assets\/sass\/_codemirror_static\.scss}line{font-family:\0000353}}
.cm-s-static span.cm-link {
  color: #762;
}
